# Working with Array

## 1.  List [     ]

   ######              **Lists are used to store multiple items in a single variable**

In [1]:
 # least allows Dublicate Items.
fruits=['Apple','Mango','Banana','stoberry','Mango']
print(fruits) 
print(type(fruits))
print(len(fruits))

['Apple', 'Mango', 'Banana', 'stoberry', 'Mango']
<class 'list'>
5

In [2]:
# This is index & Oder
fruits=['Apple','Mango','Banana','stoberry']
print(fruits)

['Apple', 'Mango', 'Banana', 'stoberry']

In [3]:
# changable
fruits=['Apple','Mango','Banana','stoberry']
fruits.append("Cherry")
print(fruits)

['Apple', 'Mango', 'Banana', 'stoberry', 'Cherry']

In [4]:
print(fruits[0])

Apple

In [5]:
print(fruits[-2:])

['stoberry', 'Cherry']

In [6]:
print(fruits[-1])

Cherry

In [7]:
print(fruits[1:4])

['Mango', 'Banana', 'stoberry']

## 2. Tuples(      )

 ######              **Tuples(  ) are used to store multiple items in a single variable**

In [8]:
ab=tuple()
ab=("pooja","radha","priya","priti","rashmi")
print(ab)
print(type(ab))
print(len(ab))

('pooja', 'radha', 'priya', 'priti', 'rashmi')
<class 'tuple'>
5

In [9]:
 # Tuples allows Dublicate Items.
ab=("pooja","radha","priya","priti","rashmi","radha")
print(ab)

('pooja', 'radha', 'priya', 'priti', 'rashmi', 'radha')

In [10]:
# This is index & Oder
ab=("pooja","radha","priya","priti","rashmi")
print(ab)

('pooja', 'radha', 'priya', 'priti', 'rashmi')

In [11]:
# Unchngable
ab=("pooja","radha","priya","priti","rashmi")
ab.append("shraddha")
print(ab)

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
ab=("pooja","radha","priya","priti","rashmi")
ab.insert(2,"Laptop")
print(ab)

AttributeError: 'tuple' object has no attribute 'insert'

## 3.Dictionary {  }

 ######              **Dictionaries are used to store data values in key:value pairs.**

In [13]:
info={"name":"Josef jojo",
      "city":"pune",
      "Mobile no.":"9028937389"  
     }
print(info)
print(type(info))
print(len(info))

{'name': 'Josef jojo', 'city': 'pune', 'Mobile no.': '9028937389'}
<class 'dict'>
3

In [14]:
 # Dictionary not allow Dublicate Items.
info={"name":"Josef jojo",
      "city":"pune",
      "Mobile no.":"9028937389"
      "name":"abc"}
print(info)

SyntaxError: invalid syntax (2731593502.py, line 5)

In [15]:
# This is index & Oder
info={"name":"Raja Ram shrivastav",
      "city":"Mumbai",
      "Mobile no.":"9847283389",
      "DOB":[28,"march",1995]
     }
print(info)

{'name': 'Raja Ram shrivastav', 'city': 'Mumbai', 'Mobile no.': '9847283389', 'DOB': [28, 'march', 1995]}

In [16]:
# changable
info={"name":"Raja Ram",
      "city":"Mumbai",
      "Mobile no.":"9847283389"
     }
info["Class"]="10th"
print(info)

{'name': 'Raja Ram', 'city': 'Mumbai', 'Mobile no.': '9847283389', 'Class': '10th'}

In [17]:
print(info["name"])

Raja Ram

In [18]:
print(info["DOB"])

KeyError: 'DOB'

## 4.set{  }

######              **Sets are used to store multiple items in a single variable**

In [19]:
city=set()
city={"pune","nashik","latur","mumbai"}
print(city)
print(type(city))
print(len(city))

{'latur', 'pune', 'nashik', 'mumbai'}
<class 'set'>
4

In [20]:
 # Dictionary not allow Dublicate Items.
city=set()
city={"pune","nashik","latur","mumbai","latur"}
print(city)

{'latur', 'pune', 'nashik', 'mumbai'}

In [21]:
# This is Unindex & UnOder
city={"pune","nashik","latur","mumbai"}
print(city)

{'latur', 'pune', 'nashik', 'mumbai'}

In [22]:
city={"nashik","latur","mumbai"}
print(city)

{'latur', 'nashik', 'mumbai'}

In [23]:
# changable

city={"pune","nashik","latur","mumbai"}
city.add("Beed")
print(city)

{'pune', 'latur', 'mumbai', 'nashik', 'Beed'}

## Python Booleans

###### ***Booleans represent one of two values: True or False.****

In [24]:
a=10
b=9
print(a > b)
print(a == b)
print(a < b)
print(a!=b)

True
False
False
True

In [25]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [26]:
for x in range (3):
    a=int(input("Enter the Value of a:  "))
    b=int(input("Enter the Value of b:  "))
    if a > b:
        print("a is greater than b")
        print("-------------------")
    else:
        print("b is not greater than a")
        print("-------------------")

Enter the Value of a:  20
Enter the Value of b:  29
b is not greater than a
-------------------
Enter the Value of a:  90
Enter the Value of b:  50
a is greater than b
-------------------
Enter the Value of a:  30
Enter the Value of b:  30
b is not greater than a
-------------------