# For Loop

In [1]:
for x in range(5):
    print("python")

python
python
python
python
python

In [2]:
for x in range(5):
    print("python",x)

python 0
python 1
python 2
python 3
python 4

In [3]:
for x in range(2,5):
    print("python",x)

python 2
python 3
python 4

In [4]:
for x in "20":
 print("STRING: ")

STRING:
STRING:

In [5]:
lang="python"
for x in lang:
    print("I love python languag: ", x)

I love python languag:  p
I love python languag:  y
I love python languag:  t
I love python languag:  h
I love python languag:  o
I love python languag:  n

In [6]:
for x in range(3):
    a=int(input("Enter the Number of a: "))
    b=int(input("Enter the Number of b: "))
    c=a+b
    print("Addion:  ",c)

Enter the Number of a: 56
Enter the Number of b: 20
Addion:   76
Enter the Number of a: 10
Enter the Number of b: 546
Addion:   556
Enter the Number of a: 34
Enter the Number of b: 446
Addion:   480

In [7]:
for x in "SCIENCE":
 print("Data Science: ",x)

Data Science:  S
Data Science:  C
Data Science:  I
Data Science:  E
Data Science:  N
Data Science:  C
Data Science:  E

In [8]:
ab=["Pune","Nashik","Mumbai"]
for x in ab[0]:
 print("I am in: ",x)

I am in:  P
I am in:  u
I am in:  n
I am in:  e

In [9]:
ab=["Pune","Nashik","Mumbai"]
for x in ab[2]:
 print("I am in: ",x)

I am in:  M
I am in:  u
I am in:  m
I am in:  b
I am in:  a
I am in:  i

In [10]:
ab=["Pune","Nashik","Mumbai"]
for x in ab:
    for y in x:
        print("Machine Learning ","I am :",x,y)

Machine Learning  I am : Pune P
Machine Learning  I am : Pune u
Machine Learning  I am : Pune n
Machine Learning  I am : Pune e
Machine Learning  I am : Nashik N
Machine Learning  I am : Nashik a
Machine Learning  I am : Nashik s
Machine Learning  I am : Nashik h
Machine Learning  I am : Nashik i
Machine Learning  I am : Nashik k
Machine Learning  I am : Mumbai M
Machine Learning  I am : Mumbai u
Machine Learning  I am : Mumbai m
Machine Learning  I am : Mumbai b
Machine Learning  I am : Mumbai a
Machine Learning  I am : Mumbai i

In [11]:
for x in range(2):
    name=input("Enter the Name: ")
    print(name)
    for x1 in name:
        print("The word: ",x1)

Enter the Name: ABCD
ABCD
The word:  A
The word:  B
The word:  C
The word:  D
Enter the Name: XYZ
XYZ
The word:  X
The word:  Y
The word:  Z

In [12]:
for x in range(5):
    p=3.14
    r=int(input("enter the value:"))
    area=p*r*r
    print(x,":-  ",area)
    print("-----------")

enter the value:546
0 :-   936084.24
-----------
enter the value:68
1 :-   14519.36
-----------
enter the value:939
2 :-   2768603.94
-----------
enter the value:465
3 :-   678946.5000000001
-----------
enter the value:356
4 :-   397951.04000000004
-----------